
.form{
/* width of a4 is 595px and height of a4 is 842px */
    width: 595px;
}

.formouter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: gray solid 3px;
    background-color: lightgray;
}