
.form{
/* width of a4 is 595px and height of a4 is 842px */
    width: 595px;
}

.formouter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: gray solid 3px;
    background-color: lightgray;
    max-height: 90vh;
    overflow-y: scroll;
}

.formcol{
    padding: 3vh;
    overflow-y: scroll;
    height: 90vh!important;
    border: black solid 2px;
}

.formcol{
    height: 100vh;
}
.legalnoticerow{
    padding: 5vh;
    height: 100vh;
    overflow-y: hidden;
}
